* {
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 218);
}

.container {
    margin: 0 auto;
}

.controls  {
    height: 100px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 1000px;
    height: 650px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    flex-shrink: 0; */
    align-content: stretch;
    border: 3px solid black;
    margin: 0 auto;
}

.stripe {
    width: 10px;
    cursor: e-resize;
}

.list-container {
    /* width: 300px; */
    border-right: 3px solid black;
    overflow-y: auto;
    /* resize: horizontal; */
}

/* .list-container::-webkit-resizer {
    height: 200px;
    width: 10px;
} */

.note {
    height: 60px;
    border-bottom: 2px solid blue;
    /* width: 300px; */
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
    height: 60px;
}

.note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    gap: 15px;
    margin: 0 auto;
}

.note-title {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-text {
    width: 500px;
}

.text {
    width: 500px;
    height: 500px;
}

.status-container {
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
    gap: 7px;
    cursor: pointer;
}

.status0 {
    background-color: grey;
}

.status1 {
    background-color: lightskyblue;
}

.status2 {
    background-color: lightgreen;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.find-btn {
  cursor: pointer;
}
